<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row justify-content-center">
            <div class=" col-md-12">
                <h5 class="text-center text-white mb-2" style="font-family: Arabic3;"> من نحن</h5>
                <!--headin5_amrc-->
                <p class="" style="font-family: Arabic3 !important;">خليها علينا اول موقع وتطبيق لشراء المنتجات وتقديم الخدمات الموجوده من حواليك
                </p>
                <p style="font-family: Arabic3 !important;"> <i class="fa fa-phone"></i> 0504954526 </p>
                <p style="font-family: Arabic3 !important;"><i class="fa fa-phone"></i> 01229337175 </p>
            </div>
        </div>
    </div>

    <div class="container ">
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center mt-2">Copyright @2021 | Designed With by <a>Console.Solutions</a></p>
        <ul class="social_footer_ul">
            <li><a href="https://www.facebook.com/Khliha.Alina/" target="_blank"><i class="fab fa-facebook-f" ></i></a></li>
            <li><a href="https://youtube.com/channel/UC5PLSqKI3glakYfXtkk4uOA" target="_blank"><i class="fab fa-youtube" ></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>
